<div class="characters-list-container">
   <h1>Characters</h1>

   <input
      type="text"
      placeholder="Search characters..."
      class="search-bar"
      (input)="onSearch($event)"
   />
   <ul>
      @for (character of filteredCharacters(); track $index) {
      <li class="character-card">
         <app-card-character [character]="character"></app-card-character>
         <button (click)="toggleFavorite(character)">
            {{
               isFavorite(character)
                  ? "Remove from Favorites"
                  : "Add to Favorites"
            }}
         </button>
      </li>
      }@empty {
      <p>No character found.</p>
      }
   </ul>
</div>
