<div class="book-list-container">
   <h1>Books</h1>

   <input
      type="text"
      placeholder="Search books..."
      class="search-bar"
      (input)="onSearch($event)"
   />

   <ul>
      @for (book of filteredBooks(); track $index) {
      <li class="book-card">
         <app-card-book [book]="book"></app-card-book>
         <button (click)="toggleFavorite(book)">
            {{
               isFavorite(book) ? "Remove from Favorites" : "Add to Favorites"
            }}
         </button>
      </li>
      }@empty {
      <p>No books found.</p>
      }
   </ul>
</div>
