<div class="favorites-container">
   <h1>Favorites</h1>

   <ul>
      @for (item of favorites(); track $index) {
      <li class="favorite-card">
         @switch (item.type) { @case ('character') {<app-card-character
            [character]="item"
         ></app-card-character
         >} @case ('house') {<app-card-house [house]="item"></app-card-house>}
         @case ('book') {<app-card-book [book]="item"></app-card-book>}}
         <button (click)="remove(item.url)">
            {{ "Remove from Favorites" }}
         </button>
      </li>
      }@empty {
      <p>No favorites..</p>
      }
   </ul>
</div>
