:host {
   width: 100%;
   height: 100;
   .container {
      display: flex;
      &.navbar {
         justify-content: space-between;
         background-color: antiquewhite;
      }
      & .menus {
         flex-flow: row;
         gap: 8px;
         padding: 8px;
      }
      .menu {
         border-radius: 8px;
         padding: 8px;
         cursor: pointer;
         &.active {
            background-color: aquamarine;
         }
         &:hover {
            background-color: gainsboro;
         }
      }
   }
}
