<div class="navbar container">
   <div class="menus container">
      @for (menu of menus; track $index) {
      <div
         class="menu"
         routerLinkActive="active"
         [routerLink]="[menu.navigateTo]"
      >
         {{ menu.title }}
      </div>
      }
   </div>
   <div class="favorite container">
      <div
         class="menu"
         routerLinkActive="active"
         [routerLink]="[enumRouteLv0.FAVORITES]"
      >
         Favorites
      </div>
   </div>
</div>
<router-outlet></router-outlet>
