<div class="house-list-container">
   <h1>Houses</h1>

   <input
      type="text"
      placeholder="Search houses..."
      class="search-bar"
      (input)="onSearch($event)"
   />

   <ul>
      @for (house of filteredHouses(); track $index) {
      <li class="house-card">
         <app-card-house [house]="house"></app-card-house>

         <button (click)="toggleFavorite(house)">
            {{
               isFavorite(house) ? "Remove from Favorites" : "Add to Favorites"
            }}
         </button>
      </li>
      }@empty {
      <p>No houses found.</p>
      }
   </ul>
</div>
